.index-header {
    color: white;
    background-color: #124586;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    .index-header {
        color: white;
        background-color: #124586;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

    .h1-index {
        padding-left: 15px;
    }

    nav ul {
        display: flex;
        gap: 10px;
        padding-left: 15px;
    }
    
    nav ul li {
        list-style-type: none;
    }
    
    
    a:link {
        color: white;
    }
    
    a:visited {
        color: white;
    }
    
    a:hover {
        color: orange;
    } 
    
    a:active {
        color: green;
    }
