.index-header {
    color: $color-text;
}

.h2-index {
    color: $color-text;
}

.p-index {
    color: $color-text;
}

footer {
    color: $color-text;
}

.h2-agente {
    color: $color-text;
}

.div-galeria {
    color: $color-text;
}

.h2-contacto {
    color: $color-text;
}

.p-contacto {
    color: $color-text;
}

